profiles {
    apocrita {
        params {
            max_memory = 362.GB
            max_cpus   = 32
            max_time   = 240.h
        }
        executor {
            name            = 'sge'
            queueSize       = 400
            submitRateLimit = '5 sec'
        }
        apptainer.runOptions = "-B /data"
        process {
            penv           = 'smp'
            clusterOptions = { "-S /bin/bash -l h_vmem=${(task.memory.mega / task.cpus)}M" }
            errorStrategy  = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
            maxRetries     = 3

            cpus   = { check_max( 1,                                'cpus'   ) }
            memory = { check_max( task.attempt >  2 ? 9.GB : 6.GB,  'memory' ) }
            time   = { check_max( task.attempt == 1 ? 1.h  : 240.h, 'time'   ) }
            withLabel:process_single {
                cpus   = { check_max( 1,                                 'cpus'   ) }
                memory = { check_max( task.attempt >  2 ? 9.GB  : 6.GB,  'memory' ) }
                time   = { check_max( task.attempt == 1 ? 1.h   : 240.h, 'time'   ) }
            }
            withLabel:process_low {
                cpus   = { check_max( 2,                                 'cpus'   ) }
                memory = { check_max( task.attempt >  2 ? 18.GB : 12.GB, 'memory' ) }
                time   = { check_max( task.attempt == 1 ? 1.h   : 240.h, 'time'   ) }
            }
            withLabel:process_medium {
                cpus   = { check_max( 3,                                 'cpus'   ) }
                memory = { check_max( task.attempt >  2 ? 27.GB : 18.GB, 'memory' ) }
                time   = { check_max( task.attempt == 1 ? 1.h   : 240.h, 'time'   ) }
            }
            withLabel:process_high {
                cpus   = { check_max( 4,                                 'cpus'   ) }
                memory = { check_max( task.attempt >  2 ? 36.GB : 24.GB, 'memory' ) }
                time   = { check_max( task.attempt == 1 ? 1.h   : 240.h, 'time'   ) }
            }
            withLabel:process_long {
                time   = { check_max( 240.h,                             'time'   ) }
            }
            withLabel:process_high_memory {
                memory = { check_max( task.attempt >  2 ? 96.GB : 48.GB, 'memory' ) }
            }
            withName:'BCFTOOLS_MAKEBEDS|BCFTOOLS_STATS|BEDTOOLS_MERGE|BCFTOOLS_INDEX_GVCF|BCFTOOLS_CONCAT' {
                memory = { check_max( task.attempt >  2 ? 2.GB  : 1.GB,  'memory' ) }
            }
            withName:'GNU_SORT_BCFTOOLS_SNPS|GNU_SORT_FREEBAYES_SNPS' {
                memory = { check_max( task.attempt >  2 ? 36.GB : 18.GB, 'memory' ) }
            }
            withName:GATK4_GENOMICSDBIMPORT {
                cpus   = { check_max( 1,                                 'cpus'   ) }
            }
            withName:GATK4_GENOTYPEGVCFS {
                cpus   = { check_max( 1,                                 'cpus'   ) }
                memory = { check_max( task.attempt >  2 ? 18.GB : 12.GB, 'memory' ) }
                time   = { check_max( 240.h,                             'time'   ) }
            }
        }
    }
}
